<h1>"Create Candy!"</h1>
<form method = "POST" action = "/candies">
<input type = "text" name = "name" placeholder = "Name">
<input type = "text" name = "color" placeholder = "Color">
<input type = "submit" name = "submit">
</form>